<div class="post">
  <div class="header">

    <h1>Post title</h1>
    <button
      routerLink="/"
      class="btn btn-link"
    >
      To main
    </button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>14.12.2022</small>
  </div>

  <div class="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quos!</p>
  </div>


</div>
